body{
    background-image: url(../Images/bricks.jpg);
}

/************
Desk Elements
************/


.whiteboard_div{
    width: 600px;
    position: fixed;
    top: 25px;
    margin-left: 775px;
}

.whiteboard_img{
    width: 100%;
}

.posters_div{
    width: 400px;
    position: fixed;
    top: 25px;
    margin-left: 100px;
}

.posters_img{
    width: 100%;
}

.desk_div{
    width: 1200px;
    height: 175px;
    overflow-y: hidden;
    position: fixed;
    bottom: 0;
    margin-left: 100px;
}

.desk_img{
    width: 100%;
}

.computer_div{
    width: 450px;
    height: 450px;
    position: fixed;
    bottom: 43px;
    margin-left: 650px;
}

.computer_img{
    width: 100%;
}

.speaker_left_div{
    width: 100px;
    height: 275px;
    position: fixed; 
    bottom: 38px;
    margin-left: 540px;
}
.speaker_right_div{
    width: 100px;
    height: 275px;
    position: fixed; 
    bottom: 38px;
    margin-left: 1110px;
}

.speaker_img{
    width: 100%;
}

.lamp_div{
    width: 200px;
    height: 500px;
    position: fixed; 
    bottom: 66px;
    margin-left: 170px;
}

.lamp_img{
    width: 100%;
    transform: scaleX(-1);
}

.clock_div{
    width: 150px;
    position: fixed; 
    bottom: 169px;
    margin-left: 360px;
}

.clock_img{
    width: 100%;
}

/*********
Clock
*********/

.clock_info{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 130px;
    height: 90px;
    bottom: 160px;
}
.flip{
    // width: 40px;
    height: 66px;
    width: 29px;
    background-color: #484244;
    border-radius: 10%;
    bottom: 188px;
    position: fixed;
}

.time{
    color: white;
    font-family: Helvetica, Sans-serif;
    font-size: 3em;
    position:fixed;
    bottom: 193px;
    margin-left: 1px;
}

.line{
    z-index: 1000;
    height: 3px;
    width: 29px;
    background-color: #484244;
    position: absolute; 
    bottom: 30px;
    float: left;
}

.minute-ones{
    margin-left: 108px;
}
.minute-tens{
    margin-left: 78px;
}
.hour-ones{
    margin-left: 43px;
}
.hour-tens{
    margin-left: 12px;
}

/******************
SCREEN
******************/
.buttons{
    display: flex;
    position: fixed;
    bottom: 469px;
    z-index: 1000;
    margin-left: 17px;
}
.bar{
    height: 16px;
    position: fixed;
    bottom: 464px;
    margin-left: 15px;
    width: 420px;
    background: lightgrey;
}
.circle {
	width: 7px;
	height: 7px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    margin-right: 4px;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.screen_content{
    z-index: 1000;
    width: 420px;
    height: 230px;
    position: fixed;
     bottom: 235px;
    overflow-y: auto;
    margin-left: 15px;
    border-radius: 2px;
}
ol{
    margin-top: 0;
    margin-bottom: 0;
}
.info{
    font-family: Inconsolata, monospace;
    background: #3c3f42;
}
.bracket{
 color: lightblue;
}
.code_text{
 color: #ff5d00;
}
.string_text{
    color: white;
}
.attribute{
    color: #ffbb00;
}
.attribute_text{
    color: #21773e;
}
a{
    text-decoration: none;
    color: #d781f9;
}